body {
  padding: 30px;
  background-color: rgb(83, 83, 83);
}

body button {
  padding: 1px 10px;
  background-color: white;
  border-radius: 5px;
}

body h1{
  color: white;
}

body h2 {
  color: white;
  padding: 15px 7px;
}